<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

  <title>getnice.org/get started!</title>

  <link href="/static/css/custom.css" rel="stylesheet">
  
</head>

<body>

  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="/media/assets/logo.png" alt="logo" /></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#discover">discover</a></li>
          <li><a href="#about">about us</a></li>
          <li><a href="blog.html">blog</a></li>
          <li><a href="donate.html">donate</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>


        <!--
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>--><!--/.navbar-collapse -->




      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Find & Fund Change</h1>
        <p>helping volunteers raise money to make a difference in the world</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="form.html">start your project &raquo;</a></p>
      </div>
    </div>

    
    <div class="greybar">
      <div class="container">
        <h2 id="discover">why getnice?</h2>
      </div>
    </div>

    <div class="grey">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="/media/assets/free.png" alt="charitable_giving">
            <h2>Free to use</h2>
            <p>We are committed to giving volunteers 100% of what they raise if they meet their goal - with no hidden fees. As a non-profit, getnice relies on separate donations and fundraising to fund operations. </p>
            <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
          </div>
          <div class="col-md-4">
            <img src="/media/assets/legit.png" alt="legit">
            <h2>Reliable partnerships</h2>
            <p>We partner with reliable organizations in order to ensure volunteers work with legitimate organizations. Every proposed volunteer project is thoroughly researched and approved by getnice.</p>
            <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
          </div>
          <div class="col-md-4">
            <img src="/media/assets/community.png" alt="build_community">
            <h2>We build community</h2>
            <p>The number one complaint of donors was the loss of connection to their dollars (insert reference). Our integrated blog and volunteer profiles (coming soon!) allow donors to see exactly where their money goes.</p>
            <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
          </div>
        </div>
      </div>

    <!-- 
    <div class="darkgreybar">
      <div class="container">
        <h2>current projects</h2>
      </div>
    </div>
  -->

</div>

<div class="quote">
  <div class="container">
    <div class="col-md-8"><p></p></div>
    <div class="col-md-4">
         <!-- <h3>Love cannot remain by itself -- it has no meaning. Love has to be put into action, and that action is service.</h3>
         <p> - Mother Teresa</p> -->

         <p>I am only one, but I am one. I cannot do everything, but I can do something. And I will not let what I cannot do interfere with what I can do.</p>
         <p> - Edward Everett Hale</p>

       </div>
     </div>
   </div>

   <div class="aboutus">
    <div class="container">
      <div class="col-md-6">
        <h2 id="about">About us</h2>
        <p>On a cool summer night in 2012, getnice co-founders Barb Belsito and Jayson Carpenter met randomly at a bus stop in San Francisco. They started chatting and quickly discovered their shared love of Japan, travel, and volunteering.</p>

        <p>In 2002, Barb raised money to go to Japan to live with a host family and volunteer with a local English club. She created a website to share her experience with friends, family, and donors. This experience opened the door to a lifelong relationship with Japan. After college, she returned to Japan to teach English through the JET Program in 2008. These days she lives and works in San Francisco, CA as a UX designer - working on getnice in her spare time.</p>

        <p>In March 2011, shortly after the Tohoku earthquake and tsunami, professional photographer Jayson Carpenter decided to raise money to go volunteer with the relief efforts in Ishinomaki, Japan – one of the most seriously affected areas. It was through this experience that he discovered the opportunity for getnice – a platform dedicated to helping volunteers raise money while bridging the gap between volunteers and donors.</p>

        <p>Barb and Jayson eventually partnered in 2014 to create getnice. We hope this platform will enable people to volunteer without financial limitations and allow donors to see exactly where their money is going. While Japan holds a special place in our hearts, we are excited to empower people to volunteer all over the world. We believe that the experience of giving – whether it's time or money – builds character and creates human connections in a way that nothing else can.</p>
      </div>
    </div>
  </div>

<!-- 

    <div class="greybar2">
      <div class="container">
        <h2>what's your passion?</h2>
      </div>
    </div>


        <div class="container">
      
         <div class="row">

        <div class="col-md-4">
          <div class="thumbnail">
            <a href="discover.html"><img src="photos/disaster01.png" alt="disaster relief"></a>
          </div>
          <div class="thumbnail">
            <a href="discover.html"><img src="photos/education.png" alt="education"></a>              
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <a href="discover.html"><img src="photos/disaster01.png" alt="disaster relief"></a>
          </div>
          <div class="thumbnail">
            <a href="discover.html"><img src="photos/education.png" alt="education"></a>              
          </div>
       </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <a href="discover.html"><img src="photos/disaster01.png" alt="disaster relief"></a>
          </div>
          <div class="thumbnail">
            <a href="discover.html"><img src="photos/education.png" alt="education"></a>              
          </div>
        </div>


    </div>


  </div> --> <!-- /container -->

  <div id="footer">
    <div class="container">
      <p class="text-muted">getnice &copy; copyright 2014</p>
    </div>
  </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>

    <script>
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top - 100
            }, 1000);
            return false;
          }
        }
      });
    });
    </script>


  </body>
  </html>
